.logo{


    height:100px ;
    width: 100px;
    gap: 5px;
    
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(211, 96, 232);
}
header {
    background: #549ed8;
    color: white;
    text-align: center;
    padding: 10px;
    height: 8%;
}
footer{
    background: #549ed8;
    color: white;
    text-align: center;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: yellow;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.products .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}
button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: darkblue;
}
.image{
    height:300px ;
    width:400px ;
    display: flex;
}
.p1{
 
    grid-row-start: 4;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: center;
  }
  .p2{

    grid-row-start: 4;
    grid-row-end:4;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: center;
  }
  .p3{
  
    grid-row-start: 4;
    grid-row-end:4;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-content: center;
  }
.h1{
    font-size: medium;
    text-align: center;
    text-decoration: wavy;
}